.stat_list {
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
}

.item {
  width: 70px;
  /* height: 70px; */
}

.label {
  padding-top: 15px;
  padding-bottom: 10px;
  display: block;
}

.percentage {
  display: block;
  height: 35px;
}
