.stats {
  display: flex;
  justify-content: space-around;
}

.quantity {
  display: block;
  padding: 10px;
}

.label {
  display: block;
  padding: 10px;
}

li {
  list-style-type: none;
}

ul {
  padding: 0px;
  margin: 0px;
  background-color: #ccc;
}
