.stats {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
  background-color: #ccc;
}

.quantity {
  display: block;
  padding: 10px;
}

.label {
  display: block;
  padding: 10px;
}
